@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.featured-courses {
  @include spacer;
}

.featured-courses__inner {
  .home & {
    @include inner;
  }
}

.featured-courses__header {
  @include section_header;
}

h3.featured-courses__title {
  @include section_title;
}

ul.featured-courses__items {
  @include structural_ul;

  @include break-min($xs) {
    display: flex;
    justify-content: space-between;
  }
}

.featured-courses__item {
  display: flex;
  margin-bottom: $item-padding;

  @include break-min($xs) {
    margin-bottom: 0;
    width: calc(50% - #{$grid-gap / 2});

    flex: 0 0 calc(50% - #{$grid-gap / 2});
  }
}

.featured-course__card {
  width: 100%;

  display: flex;
}

.featured-course__columns {
  width: 100%;

  @include break-min($sm) {
    display: flex;
  }
}

.featured-course__column {
  position: relative;

  @include break-min($sm) {
    display: flex;
    flex: 0 0 calc((7.5 / 12) * 100%);
  }

  &:first-child {
    padding-bottom: 50%;

    @include break-min($sm) {
      padding-bottom: 0;
      flex: 0 0 calc((3.5 / 12) * 100%);
    }
  }
}

.featured-course__image {
  @include absolute_fill;
  @include object_fit_cover;
}

.featured-course__content {
  padding: $item-padding-small $item-padding-smaller;

  @include break-min($sm) {
    padding: $item-padding;
    padding-bottom: $spacer-xlarge;
  }
}

p.featured-course__date {
  @include font_small_text;
  margin-bottom: $item-padding-small;
}

h4.featured-course__heading {
  @include font_heading-3;
  margin-bottom: $item-padding-small;
}

p.featured-course__detail {
  @include font_small_text;
  margin-bottom: $item-padding-small;
  padding-left: 19px;

  position: relative;

  &:last-child {
    margin: 0;
  }

  svg {
    width: 14px;
    height: 14px;

    position: absolute;
    top: 1px;
    left: 0;
  }
}
