.footer {
  background-color: $color-footer;
  color: $color-white;
  padding-top: $spacer-xsmall;
  padding-bottom: 150px;

  @include break-min($sm) {
    padding-bottom: 75px;
  }
}

.footer__inner {
  @include inner;
}

.footer__items {
    @include break-min($sm) {
      display: grid;
      grid-template-columns: 175px 1fr;
      grid-gap: $grid-gap;
    }

    @include break-min($md) {
      grid-gap: 150px;
    }
  }

  .footer__item {
    margin-bottom: $item-padding * 2;

    &:last-child {
      margin-bottom: 0;
    }

    @include break-min($sm) {
      margin-bottom: 0;
    }
  }
