.footer {
  background-color: $color-footer;
  color: $color-white;
  padding-top: $item-padding-small;
  padding-bottom: $item-padding-small;
}

.footer__inner {
  @include inner;
}

.footer__items {
  @include structural_ul;
  display: flex;
  justify-content: space-between;
}

.footer__item {
  &:first-child {
    width: 120px;

    flex-basis: 120px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p.footer__text {
  font-weight: $fw-black;
  margin: 0;
  opacity: 0.5;
}
