*.log
.bundle/
content/advanced-cache.php
content/backup-db/
content/backups/
content/blogs.dir/
content/cache/
content/languages/
content/index.php
content/upgrade/
content/uploads/
content/mu-plugins/
content/wp-cache-config.php
content/plugins/hello.php
content/themes/iucnua/.env
db.php
/index.php
xmlrpc.php
ruby/

wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-content/
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

*.sql
*.sql.gz
#/config/database.yml
#/config/deploy.rb
#/config/deploy/staging.rb
#/config/deploy/production.rb

node_modules
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
scripts.js.tmp-browserify-*
.sass-cache
