@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.home-hero {
  background-color: $color-secondary;

  position: relative;

  &.home-hero--light {
    background-color: $color-white;
  }
}

.home-hero__background-image {
  @include absolute_fill;
  @include object_fit_cover;
  z-index: 1;
}

.home-hero__overlay {
  @include absolute_fill;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.69) 0%, rgba(10, 10, 10, 0) 100%);

  z-index: 2;
}

.home-hero__inner {
  @include inner;
}

.home-hero__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hero__content {
  color: $color-white;
  padding-top: 48px + $headerMobileHeight;
  padding-bottom: 48px;

  z-index: 3;

  @include break-min($md) {
    padding-top: $spacer-xlarge * 1.5 + $headerHeight;
    padding-bottom: $spacer-xlarge * 1.5;
  }

  .home-hero--dark & {
    color: $color-secondary;
  }
}

h2.home-hero__title {
  @include font_heading-1;
  color: currentColor;
  font-weight: $fw-regular;
  text-transform: uppercase;

  @include break-min($md) {
    max-width: calc((8 / 10) * 100%);
  }
}

h3.home-hero__text {
  @include font_heading-3;
  color: currentColor;

  @include break-min($md) {
    max-width: calc((8 / 10) * 100%);
  }
}

a.home-hero__link {
  @include button_ghost;
  margin: 0;

  &.home-hero__link--external {
    display: inline-flex;
    justify-content: center;

    svg {
      color: $color-white;
      margin-left: 10px;
      width: 14px;
    }
  }
}
