//-------------------------------------------------
// Break Points
//-------------------------------------------------

@mixin break-min($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin break-min-max($min, $max) {
  @media screen and (min-width: $min) and (max-width: ($max - 1px)) {
    @content;
  }
}

@mixin break-max($breakpoint) {
  @media screen and (max-width: ($breakpoint - 1px)) {
    @content;
  }
}

//-------------------------------------------------
// Spacer (Margin)
//-------------------------------------------------

@mixin spacer_top {
  margin-top: $spacer-small;

  @include break-min($sm) {
    margin-top: 50px;
  }

  @include break-min($md) {
    margin-top: $spacer-large;
  }
}

@mixin spacer_bottom {
  margin-bottom: $spacer-small;

  @include break-min($sm) {
    margin-bottom: 50px;
  }

  @include break-min($md) {
    margin-bottom: $spacer-large;
  }
}

@mixin spacer_section {
  margin-bottom: $spacer-medium;

  @include break-min($sm) {
    margin-bottom: 55px;
  }

  @include break-min($md) {
    margin-bottom: 150px;
  }
}

@mixin spacer {
  @include spacer_top;
  @include spacer_bottom;
}

@mixin spacer_xlarge {
  margin-top: $spacer-small;
  margin-bottom: $spacer-small;

  @include break-min($sm) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include break-min($md) {
    margin-top: $spacer-xlarge;
    margin-bottom: $spacer-xlarge;
  }
}

@mixin spacer_small {
  margin-top: $spacer-small;
  margin-bottom: $spacer-small;

  @include break-min($sm) {
    margin-top: $spacer-medium;
    margin-bottom: $spacer-medium;
  }

  @include break-min($md) {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

//-------------------------------------------------
// Spacer (Padding)
//-------------------------------------------------

@mixin spacer_padding_top {
  padding-top: $spacer-small;

  @include break-min($sm) {
    padding-top: 50px;
  }

  @include break-min($md) {
    padding-top: $spacer-large;
  }
}

@mixin spacer_padding_bottom {
  padding-bottom: $spacer-small;

  @include break-min($sm) {
    padding-bottom: 50px;
  }

  @include break-min($md) {
    padding-bottom: $spacer-large;
  }
}

@mixin spacer_body {
  @include spacer_padding_top;
  @include spacer_padding_bottom;
}

@mixin spacer_body_small {
  padding-top: $spacer-small;
  padding-bottom: $spacer-small;

  @include break-min($sm) {
    padding-top: $spacer-medium;
    padding-bottom: $spacer-medium;
  }

  @include break-min($md) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

//-------------------------------------------------
// Inner
//-------------------------------------------------

@mixin inner_padding {
  padding-right: $gutter-small;
  padding-left: $gutter-small;

  @include break-min($sm) {
    padding-right: $gutter-medium;
    padding-left: $gutter-medium;
  }

  @include break-min($lg) {
    padding-right: $gutter-large;
    padding-left: $gutter-large;
  }
}

@mixin inner {
  @include inner_padding;
  max-width: $global-inner + ($gutter-large * 2);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

//-------------------------------------------------
// Typography
//-------------------------------------------------

@mixin heading {
  color: $color-headings;
  letter-spacing: 1px;
  font-family: $font-heading;
  font-weight: $fw-bold;
  margin-bottom: $item-padding;
}

@mixin font_heading_override {
  letter-spacing: 0;
  font-family: $font-body;
}

@mixin font_heading-1 {
  font-size: 40px;
  line-height: 48px;

  @include break-min($sm) {
    font-size: 65px;
    line-height: 68px;
  }
}

@mixin font_heading-2 {
  font-size: 34px;
  line-height: 40px;

  @include break-min($sm) {
    font-size: 45px;
    line-height: 52px;
  }
}

@mixin font_heading-3 {
  font-size: 28px;
  line-height: 32px;

  @include break-min($sm) {
    font-size: 40px;
    line-height: 45px;
  }
}

@mixin font_heading-4 {
  font-size: 20px;
  line-height: 24px;

  @include break-min($sm) {
    font-size: 30px;
    line-height: 40px;
  }
}

@mixin font_heading-5 {
  font-size: 25px;
  line-height: 28px;
}

@mixin font_heading-6 {
  font-size: 18px;
  line-height: 30px;
}

@mixin font_base_text {
  font-size: 16px;
  line-height: 20px;

  @include break-min($xxs) {
    font-size: $font-base-size;
    line-height: $font-base-line-height;
  }
}

@mixin font_navigation {
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 25px;
  text-transform: uppercase;
}

@mixin font_small_text {
  font-size: 14px;
  line-height: 22px;
}

@mixin paragraph {
  @include font_base_text;
  color: inherit;
  margin-bottom: $item-padding;
}

//-------------------------------------------------
// Animations
//-------------------------------------------------

@mixin underline_on_hover {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility .5s ease;
  }

  &:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

@mixin fade_in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
}

@mixin fade_in_left {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-30px);
}

@mixin fade_in_right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(30px);
}

@mixin faded_in {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

@mixin faded_in_transitions($quantity) {
  @for $i from 1 through $quantity {
    &:nth-child(#{$i}) {
      transition-delay: $i * 0.25s;
    }
  }
}

//-------------------------------------------------
// Buttons
//-------------------------------------------------

@mixin button_reset {
  appearance: none;
  border: 0;
  background: none;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0;
}

@mixin button {
  @include button_reset;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: $font-body;
  font-size: 20px;
  font-weight: $fw-regular;
  line-height: 1;
  padding: 12px 21px;
  text-align: center;
  text-decoration: none;

  display: inline-block;

  transition: background-color 0.3s ease-in-out, color 0.3s ease,
    border-color 0.35s ease;

  @include break-min($lg) {
    padding: 14px 32px;
  }
}

@mixin button_small {
  font-size: 18px;
  padding: 4px 12px;

  @include break-min($lg) {
    padding: 8px 18px;
  }
}

@mixin button_wider {
  @include break-min($lg) {
    padding-right: 36px;
    padding-left: 36px;
  }
}

@mixin button_primary {
  @include button;
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover {
    background-color: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
  }
}

@mixin button_secondary {
  @include button;
  color: $color-primary;
  background-color: transparent;
  border-color: $color-primary;

  &:hover {
    color: #fff;
    background-color: $color-primary;
  }
}

@mixin button_filter {
  @include button;
  color: $color-secondary;
  border-color: $color-mid-grey;
  background-color: $color-mid-grey;

  &:hover {
    border-color: $color-secondary;
    background-color: transparent;
  }
}

@mixin button_ghost {
  @include button;
  color: currentColor;
  border-color: currentColor;
  background-color: transparent;

  &:hover {
    color: $color-white;
    border-color: $color-primary;
    background-color: $color-primary;
  }
}

@mixin button_accent {
  @include button;

  color: $color-secondary;
  border-color: $color-accent;
  background-color: $color-accent;

  &:hover {
    color: $color-secondary;
    border-color: darken($color-accent, 20%);
    background-color: darken($color-accent, 20%);
  }
}

@mixin button_with_icon {
  text-decoration: none;

  display: inline-flex;
  align-items: center;
}

@mixin button_text {
  @include button_reset;
  text-decoration: underline;
}

@mixin button_arrow {
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 25px;
  padding-right: 22px;
  text-decoration: none;
  text-transform: uppercase;

  transition: background-color 0.3s ease-in-out, color 0.3s ease,
    border-color 0.35s ease;

  position: relative;

  .icon-arrow {
    color: $color-primary;
    width: 16px;

    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);
    transition: transform .3s ease;
    will-change: transform;
  }

  &:hover {
    .icon-arrow {
      transform: translateX(2px) translateY(-50%);
    }
  }
}

//-------------------------------------------------
// Listings
//-------------------------------------------------

@mixin listing_items {
  @include structural_ul;
  display: grid;
  grid-template-columns: 1;
  grid-gap: $spacer-medium $grid-gap;

  @include break-min($sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include break-min($md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@mixin listing_item {
  @include no_bullets;
  display: flex;
}

//-------------------------------------------------
// Sections
//-------------------------------------------------

@mixin section_header {
  margin-bottom: $spacer-small;

  @include break-min($sm) {
    margin-bottom: $spacer-medium;
  }
}

@mixin section_header_small {
  margin-bottom: #{$grid-gap * 2};

  @include break-min($sm) {
    margin-bottom: #{$grid-gap * 1};
  }
}

@mixin section_header_large {
  margin-bottom: #{$grid-gap * 2};

  @include break-min($sm) {
    margin-bottom: #{$grid-gap * 5};
  }
}

@mixin section_title {
  @include font_heading-3;
  margin: 0;
}

@mixin section_footer {
  @include spacer_padding_top;
}

//-------------------------------------------------
// Utilities
//-------------------------------------------------

@mixin absolute_fill {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin no_margin_padding {
  margin: 0;
  padding: 0;
}

@mixin no_bullets {
  list-style: none;
}

@mixin structural_ul {
  @include no_margin_padding;
  list-style-type: none;
}

@mixin object_fit_cover {
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

@mixin object_fit_contain {
  object-fit: contain;
  font-family: 'object-fit: contain;';
}

@mixin restrain_width {
  @include break-min($md) {
    max-width: $restrained-width;
    margin-right: auto;
    margin-left: auto;
  }
}

@mixin ignore_restrained_width {
  @include break-min($lg) {
    margin-left: calc((-100vw / 2 + #{$restrained-width / 2}) + #{$gutter-large});
    margin-right: calc((-100vw / 2 + #{$restrained-width / 2}) + #{$gutter-large});
  }
}

@mixin screen_reader_only {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
