// Learndash

.single-sfwd-lessons .learndash-wrapper .ld-content-actions .ld-content-action .ld-course-step-back,
.single-sfwd-topic .learndash-wrapper .ld-content-actions .ld-content-action .ld-course-step-back {
  display: none;
}

.single-sfwd-courses .learndash-wrapper .ld-course-status,
.single-sfwd-lessons .learndash-wrapper .ld-lesson-status,
.single-sfwd-topic .learndash-wrapper .ld-topic-status {
  display: none;
}

.learndash-wrapper .ld-item-list .ld-section-heading {
  display: none;
}

.ld-content-action.ld-empty {
  min-width: 140px;
}

.ld-logout.ld-logout.ld-login-text.ld-login-button.ld-button {
  margin-left: auto;
  max-width: 200px;

  display: block;
  justify-content: center;

  .ld-icon.ld-icon-arrow-right.ld-icon-right {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
  }
}

@media (max-width: 640px) {
  .learndash-wrapper .ld-button {
    margin-left: 0;
  }

  .learndash-wrapper .ld-content-actions .ld-content-action.ld-empty {
    padding: 0;
  }
}
