@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  @mixin listing_items {
    @include structural_ul;
    margin: 0 -#{$grid-gap} -#{$spacer-medium} 0;

    display: flex;
    flex-wrap: wrap;

    @include break-min($xs) {
      margin-right: -#{$grid-gap};
    }
  }

  @mixin listing_item {
    @include no_bullets;
    margin-right: $grid-gap;
    margin-bottom: $spacer-medium;
    width: 100%;

    @include break-min($sm) {
      width: calc(((1 / 2) * 100%) - #{$grid-gap});

      display: flex;
      flex: 0 0 calc(((1 / 2) * 100%) - #{$grid-gap});
    }

    @include break-min($md) {
      width: calc(((1 / 3) * 100%) - #{$grid-gap});

      flex: 0 0 calc(((1 / 3) * 100%) - #{$grid-gap});
    }
  }
}
