.card {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  position: relative;
  background-color: $color-light-grey;
}

.card__badge {
  position: absolute;
  top: #{$grid-gap / 2};
  left: #{$grid-gap / 2};
  z-index: 1;
  font-size: 16px;
  background-color: $color-grey-text;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 2px 4px;
  margin-right: #{$grid-gap / 2};
  font-weight: 500;
  line-height: 1;
  @include break-min($sm) {
    font-size: 11px;
  }
}

.card__image {
  position: relative;
  padding-bottom: calc((19 / 29) * 100%);
  overflow: hidden;

  @include break-min($sm) {
    padding-bottom: 75%;
  }

  img {
    @include absolute_fill;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    transition: transform .8s ease;
    will-change: transform;

    .card:hover & {
      transform: scale(1.025);
    }
  }
}

.card__body {
  flex: 1 1 auto;
  display: flex;
}

.card__content {
  position: relative;
  padding: #{$grid-gap / 2} #{$grid-gap / 2} #{$grid-gap};
  flex: 1 1 auto;

  .card--file & {
    padding-bottom: #{$grid-gap * 3};
  }

  .card--family & {
    padding-bottom: #{$grid-gap * 4};
  }
}

p.card__details {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 5px;
  color: $color-grey-text;
}

h3.card__title {
  @include font_heading-5;
  color: currentColor;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}

p.card__link {
  margin-top: $grid-gap;
  margin-bottom: 0;
  color: $color-grey-text;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

p.card__members {
  color: $color-grey-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;

  position: absolute;
  top: 40px;
  left: 10px;

  svg {
    width: 14px;
    display: inline-block;
    margin-right: 5px;
  }
}

.card__icon {
  position: absolute;
  bottom: #{$grid-gap / 2};
  right: #{$grid-gap / 2};

  svg {
    margin-left: auto;
    opacity: .5;
    height: 35px;
  }
}

p.card__job-title {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 5px;
  margin-bottom: 0;
}

p.card__bio,
p.card__email,
p.card__location {
  display: none;
}

a.card__fauxlink {
  @include absolute_fill;
  z-index: 2;
}
