.form {
  @include break-min($md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    max-width: calc((10 / 12) * 100%);
    margin: 0 auto;
  }
}

.form-input {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.form-input__group {
  position: relative;
  display: block;
  margin-bottom: 10px;

  @include break-min($md) {
    width: calc(50% - 5px);
    flex: 0 0 calc(50% - 5px);
  }
}

.form-select {
  border-radius: 0 !important;
}

.form-submit {
  margin: 20px auto 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 18px;

  @include break-min($md) {
    width: 250px;
  }
}
