.icon__logo {
  background-color: $color-primary;
  padding: 20px 25px;
  
  will-change: padding;
  transition: padding .3s ease;

  .header--scrolled & {
    padding: 10px 15px;
  }

  .footer & {
    padding: 15px 20px;
  }
}
