.header {
  color: $color-white;
  border-top: 3px solid $color-primary;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  transition: color .3s ease, background-color .3s ease;

  .single-sfwd-lessons & {
    color: $color-secondary;
  }

  .logged-in.admin-bar & {
    top: 46px;

    @include break-min(783px) {
      top: 64px;
    }

    @include break-min($headerNavShow) {
      top: 32px;
    }
  }
}

.header__inner {
  @include inner;
}

.header__items {
  padding-top: 10px;
  padding-bottom: 10px;
  height: $headerMobileHeight;

  display: flex;

  @include break-min($headerNavShow) {
    height: $headerHeight;
  }
}

.header__item {
  flex: 1 1 auto;
}

.header__item--logo {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  margin-right: auto;
}

h1.header__title {
  @include font_heading-3;
  color: currentColor;
  font-family: $font-body;
  margin-left: $grid-gap;
  margin-bottom: 0;
}

a.header__logo {
  margin-top: 2px;
  display: block;

  width: 130px;
}

.header__item--nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include break-min($md) {
    flex-wrap: wrap;
  }

  .single & {
    display: none;
  }
}

.header__item--tools {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
}
