.header {
  color: $color-white;
  border-top: 3px solid $color-primary;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  transition: color .3s ease, background-color .3s ease;

  .logged-in.admin-bar & {
    top: 46px;

    @include break-min(783px) {
      top: 64px;
    }

    @include break-min($headerNavShow) {
      top: 32px;
    }
  }
}

.header__inner {
  @include inner;
}

.header__items {
  padding-top: 10px;
  padding-bottom: 10px;
  height: $headerMobileHeight;

  display: flex;

  transition: height .3s ease;

  .header--scrolled & {
    height: $headerMobileHeightScrolled;
  }

  @include break-min($headerNavShow) {
    height: $headerHeight;

    .header--scrolled & {
      height: $headerHeightScrolled;
    }
  }
}

.header__item {
  flex: 1 1 auto;
}

.header__item--logo {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}
//   width: 130px;
//
//   flex-direction: column;
//   justify-content: center;
//
//   position: relative;

h1.header__title {
  @include font_heading-3;
  color: currentColor;
  margin-left: $grid-gap;
  margin-bottom: 0;
}

a.header__logo {
  margin-top: 2px;
  display: block;

  width: 130px;
}

.header__item--nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include break-min($md) {
    flex-wrap: wrap;
  }
}

.header__item--tools {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;

  &.header__item--language-switcher {
    @include break-min($headerNavShow) {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      .header--scrolled & {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
