/*--------------------------------------------------------------
BASE
--------------------------------------------------------------*/

body {
  font-size: $font-base-size;
  line-height: 1.6;
  background-color: $color-white;
  color: $color-body-font;
  font-family: $font-body;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  &.layout__body--loaded {
    opacity: 1;
    visibility: visible;
  }

  &.utility__drawer-active {
    overflow: hidden;

    &.utility__iOS {
      position: fixed;
    }
  }

  &.layout__body--modal-active {
    position: fixed;
    right: 0;
    left: 0;
  }
}

body,
button,
input,
select,
textarea {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

figcaption,
.wp-block-image figcaption {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  color: $color-grey-text;
}

ul {
  margin-left: 0;

  li {
    list-style: none;
  }
}

svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

pre {
  white-space: inherit;
}

/*--------------------------------------------------------------
FORMS
--------------------------------------------------------------*/

label {
  font-size: inherit;
}

fieldset {
  margin-bottom: 1em;
}

input,
textarea {
  background-color: #fff;
  border: 1px solid $color-secondary;
  border-radius: 5px;
  color: $color-secondary;
  font-family: $font-body;
  font-size: inherit;
  font-weight: 600;
  outline: none;
  padding: 12.5px 10px;
  width: 100%;

  display: block;

  transition: color 0.3s ease;

  &::placeholder {
    color: inherit;
    font-family: $font-body;
    font-weight: 400;
  }

  &:focus,
  &:focus {
    border-color: #333;
    color: $color-body-font;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

input[type="submit"] {
  @include button_secondary;
  @include button_wider;
}

select {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid $color-secondary;
  max-width: 100%;
  font-family: $font-body;
  font-size: inherit;
  padding: 12.5px 10px;
  border-radius: 0;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: auto 10px, 100%;
}

input[type="date"] {
  padding: 0.85em;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em;
}

::-webkit-input-placeholder {
  color: lighten($color-body-font, 10%);
}
:-moz-placeholder {
  color: lighten($color-body-font, 10%);
}
::-moz-placeholder {
  color: lighten($color-body-font, 10%);
  opacity: 1;
}
:-ms-input-placeholder {
  color: lighten($color-body-font, 10%);
}

/*--------------------------------------------------------------
TABLES
--------------------------------------------------------------*/

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  padding: 0.4em;
  text-align: left;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  thead & {
    border-bottom: 2px solid #bbb;
    padding-bottom: 0.5em;
  }
}

tr {
  border-bottom: 1px solid #eee;
}

td {
  padding: 0.4em;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

// Flickity

.layout__body .flickity-page-dots {
  bottom: 0;
}
